::ng-deep .tooltip-respeita-linha {
  white-space: pre-line !important;
}

::ng-deep {
  .cdk-overlay-container {
    z-index: 1060;
  }
}

.text-info-custom {
  font-style: italic;
  font-weight: 500;
  opacity: 0.9;
}

:host-context(.nb-theme-default) .text-info-custom {
  color: #005c99 !important;
}

:host-context(.nb-theme-dark) .text-info-custom {
  color: #82aaff !important;
}

:host-context(.nb-theme-cosmic) .text-info-custom {
  color: #a16eff !important;
}

.portfolio-logo {
  max-width: 100%;
  max-height: 45px;
}

.card {
  background-color: var(--card-background-color);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;

  .card-content {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 100%;
    min-height: 75px;

    .portfolio-content {
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}

:host-context(.nb-theme-dark, .nb-theme-cosmic) {
  .sub-title-po {
    color: #ffffff !important;

    &.logo {
      color: #ffffff !important;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 95%;
  }
}

:host {
  display: block;
  min-height: 100vh;
}
