<ngx-flip-table [showSearchField]="true" [cardTitle]="title" [tableContent]="tableContent"
  [loadingStatus]="loadingStatus" (executeDownload)="handleTableDownload()" showMaximizeButton="true"
  [backCardHeight]="308" (showMaximizeButtonClick)="onMaximizeButtonClick('receita-origem', $event)">
  <ngx-org-chart-horizontal [chart]="chartData"
    [height]="isChartMaximized('receita-origem') ? calcMaximizedHeight() : 300" [charactersPerLine]="20"
    [showMaximizeButton]="isChartMaximized('receita-origem')" card-front>
  </ngx-org-chart-horizontal>
</ngx-flip-table>