<ngx-flip-table [showSearchField]="true" [cardTitle]="title" [tableContent]="tableContent"
  [loadingStatus]="loadingStatus" (executeDownload)="handleTableDownload()" [backCardHeight]="308"
  [showMaximizeButton]="true" (showMaximizeButtonClick)="onMaximizeButtonClick('receita-categoria', $event)">
  <ngx-org-chart-horizontal [chart]="charData" [charactersPerLine]="19"
    [height]="isChartMaximized('receita-categoria') ? calcMaximizedHeight() : 300"
    card-front></ngx-org-chart-horizontal>
</ngx-flip-table>