<ngx-flip-table
  [showSearchField]="false"
  [cardTitle]="title"
  [tableContent]="tableContent"
  [loadingStatus]="requestStatus"
  (executeDownload)="handleTableDownload()"
  [backCardHeight]="308"
  [showMaximizeButton]="true"
  (showMaximizeButtonClick)="onMaximizeButtonClick('receita-categoria', $event)">
  <ngx-org-chart-horizontal
  [chart]="charData"
  [charactersPerLine]="19"
  [ChartDataConfig]="chartDataConfig"
  [showMaximizeButton]="isChartMaximized('receita-categoria')"
  [height]="isChartMaximized('receita-categoria') ? calcMaximizedHeight() : 300"
  card-front
  ></ngx-org-chart-horizontal>
</ngx-flip-table>
