<ngx-flip-table [cardTitle]="'Projetos por Status'" [showSearchField]="true" [tableContent]="flipTableContent" [loadingStatus]="requestStatus"
  [outerCardHeight]="isChartMaximized('projects-by-status') ? (calcMaximizedHeight() + 125) : 275" [backCardHeight]="isChartMaximized('projects-by-status') ? calcMaximizedHeight() : 150"
  [showMaximizeButton]="true" (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('projects-by-status', $event)">
  <ngx-pie-chart-model [data]="chartData" [colors]="chartColors"
    [height]="isChartMaximized('projects-by-status') ? calcMaximizedHeight() : 150"
    [isMaximized]="isChartMaximized('projects-by-status')" card-front>
  </ngx-pie-chart-model>
</ngx-flip-table>