<ngx-flip-table
  [cardTitle]="'Marcos Críticos por Desempenho'"
  [tableContent]="flipTableContent"
  [loadingStatus]="requestStatus"
  [outerCardHeight]="275"
  [backCardHeight]="isChartMaximized('critical-milestones-for-performance') ? 700 : 150"
  [showMaximizeButton]="true"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('critical-milestones-for-performance', $event)"
>
  <ngx-pie-chart-model
    [data]="chartData"
    [colors]="chartColors"
    [height]="isChartMaximized('critical-milestones-for-performance') ?   400 : 150"
    [fontSizeLegend]="isChartMaximized('critical-milestones-for-performance') ? 20 : 9"
    [isMaximized]="isChartMaximized('critical-milestones-for-performance')"
    card-front>
  </ngx-pie-chart-model>
</ngx-flip-table>
