<ngx-flip-table [showSearchField]="false" [cardTitle]="title" [tableContent]="tableContent"
  [loadingStatus]="requestStatus" (executeDownload)="handleTableDownload()"
  [backCardHeight]="isChartMaximized('revenue-category') ? calcMaximizedHeight() : 308" [showMaximizeButton]="true"
  (showMaximizeButtonClick)="onMaximizeButtonClick('revenue-category', $event)">
  <ngx-org-chart-horizontal [chart]="charData" [charactersPerLine]="19" [chartDataConfig]="chartDataConfig"
    [showMaximizeButton]="isChartMaximized('revenue-category')"
    [height]="isChartMaximized('revenue-category') ? calcMaximizedHeight() : 300" card-front></ngx-org-chart-horizontal>
</ngx-flip-table>