<ng-template #controleGrouping>
  <div class="chart-controls toggles-container small-toggle d-flex flex-wrap gap-3 mb-2 px-2 pb-2 border-bottom">
    <div class="control-item d-flex align-items-center gap-3">
      <span class="grouping-label">Agrupar por:</span>

      <div class="custom-pill-toggle">
        <button type="button" [class.active]="groupingMode === 'MUNICIPIO' || groupingMode === 'MUNICIPIO'"
          (click)="onGroupingModeChange('MUNICIPIO')">
          MUNICÍPIO
        </button>
        <button type="button" [class.active]="groupingMode === 'STATUS' || groupingMode === 'STATUS'"
          (click)="onGroupingModeChange('STATUS')">
          STATUS
        </button>
      </div>
    </div>
  </div>
</ng-template>


<ngx-flip-table
  [cardTitle]="title"
  [tableContent]="flipTableContent"
  [tableOnFront]="true"
  [showSearchField]="true"
  [backCardHeight]="isChartMaximized('total-entregas-por-municipio-status') ? calcMaximizedHeight() : 450"
  [showMaximizeButton]="true" [loadingStatus]="requestStatus" (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('total-entregas-por-municipio-status', $event)"
  >

  <div card-front>
    <ng-container *ngTemplateOutlet="controleGrouping"></ng-container>
  </div>

  <div card-back>
    <ng-container *ngTemplateOutlet="controleGrouping"></ng-container>
    <ngx-org-chart-vertical-grouped
      [chart]="chartData"
      [height]="isChartMaximized('total-entregas-por-municipio-status') ? calcMaximizedChartHeight() : 400"
      [groupingMode]="groupingMode" [isMaximized]="isChartMaximized('total-entregas-por-municipio-status')"
      [chartDataConfig]="chartDataConfig" majorGroupLabel="Exercício" minorGroupLabel="Status" [valueType]="'currency'"
      [sortByEmpDescending]="true" [followPrimaryGroupLabel]="groupingMode === 'STATUS'"
      empLabel="Planejado" liqLabel="Realizado">
    </ngx-org-chart-vertical-grouped>
  </div>
</ngx-flip-table>
