<ngx-flip-table [cardTitle]="title" [tableContent]="flipTableContent" [tableOnFront]="true" [showSearchField]="true"
  [backCardHeight]="isChartMaximized('total-entregas-por-municipio-status') ? calcMaximizedHeight() : 350"
  [showMaximizeButton]="true" [loadingStatus]="requestStatus" (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('total-entregas-por-municipio-status', $event)" card-front>
</ngx-flip-table>
