<!-- <ngx-flip-table
  [cardTitle]="'Entregas por Status'"
  [tableContent]="flipTableContent"
  [loadingStatus]="requestStatus"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
>
  <ngx-pie-chart-model
    card-front
    [data]="chartData"
    [colors]="chartColors"
    [height]="150"
  >
  </ngx-pie-chart-model>
</ngx-flip-table> -->

<ngx-flip-table
  [cardTitle]="'Entregas por Status'"
  [showSearchField]="true"
  [tableContent]="flipTableContent"
  [loadingStatus]="requestStatus"
  [outerCardHeight]="275"
  [backCardHeight]="isChartMaximized('deliveries-by-status') ? 700 : 150"
  [showMaximizeButton]="true"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('deliveries-by-status', $event)"
  >
  <ngx-pie-chart-model class="w-100"
    card-front
    [data]="chartData"
    [colors]="chartColors"
    [height]="isChartMaximized('deliveries-by-status') ?   400 : 150"
    [fontSizeLegend]="isChartMaximized('deliveries-by-status') ? 20 : 9"
    [isMaximized]="isChartMaximized('deliveries-by-status')"
    >
  </ngx-pie-chart-model>
</ngx-flip-table>
