@keyframes openSearch {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 60%;
    opacity: 1;
  }
}

// @keyframes closeSearch {
//   from {
//     width: 60%;
//     opacity: 1;
//   }
//   to {
//     width: 0;
//     opacity: 0;
//   }
// }

.cursor-pointer {
  cursor: pointer;
}

.outer-card {
  background-color: var(--card-background-color);
  border: none;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .card-header {
    border: none;
    height: 4rem;
    background-color: transparent;

    .card-title {
      color: var(--card-text-color);
      font-size: 0.9rem;
      font-weight: var(--layout-text-font-weight);
    }
    
    .search-form-field {
      width: 0;
      opacity: 0;
      
      &.opening {
        animation: openSearch 500ms ease-out forwards;
      }
      // &.closing {
      //   animation: closeSearch 500ms ease-in forwards;
      // }

      .search-input {
        transition: all 0.3s ease;
        min-width: 0;
      }
    }

    .search-button, .close-icon, .export-button, .flip-button {
      cursor: pointer;
    }
  }
  
  .flip-card {
    .card-front, .card-back {
      border: none;
    }

    .card-back {
      height: 150px;

      .table {
        font-family: var(--text-paragraph-font-family);

        tr:first-child {
          line-height: 80%;
        }

        th {
          font-size: 12px !important;
        }

        td {
          font-size: 10px !important;
          line-height: 125%;
        }

        .icon {
          color: var(--card-text-color);
        }
      }
    }
  }
}
