<div
  class="offcanvas offcanvas-end px-2"
  data-bs-scroll="true"
  tabindex="-1"
  [id]="customOffcanvasIdentifier"
  [attr.aria-labelledby]="customOffcanvasIdentifier + 'Label'"
  [attr.data-bs-theme]="currentAppTheme !== 'default' ? 'dark' : ''"
>
  <nb-card class="my-2 h-100" [nbSpinner]="requestStatus === 'Loading'" [nbSpinnerStatus]="'success'">
    <ng-container *ngIf="requestStatus === 'Success'">
      <div class="offcanvas-header">
        <div class="d-flex flex-column">
          <span class="offcanvas-entity-title" [id]="customOffcanvasIdentifier + 'Label'">
            {{ selectedItemDetails.objetivo ? 'Programa' : 'Projeto' }}
          </span>
          <h5 class="offcanvas-title">
            {{ selectedItemDetails.objetivo ? selectedItemDetails.nomePrograma : selectedItemDetails.nomeProjeto }}
          </h5>
          <ng-container *ngIf="selectedItemDetails.transversal">
            <span class="offcanvas-message italic">Este é um programa transversal, contemplando projetos em diversas áreas temáticas, além desta.</span>
          </ng-container>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ng-container *ngIf="selectedItemDetails.objetivo && selectedItemDetails.objetivo !== 'null'">
          <div class="property col-12 mb-3">
            <nb-card class="p-2">
              <span class="property-label">Objetivo</span>
              <span class="property-value">{{ selectedItemDetails.objetivo | ngxCapitalize }}</span>
            </nb-card>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedItemDetails.descricaoProjeto && selectedItemDetails.descricaoProjeto !== 'null'">
          <div class="property col-12 mb-3">
            <nb-card class="p-2">
              <span class="property-label me-1">Descrição</span>
              <span class="property-value justify">{{ selectedItemDetails.descricaoProjeto | ngxCapitalize }}</span>
            </nb-card>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedItemDetails.responsavel !== 'null'">
          <div class="property col-12 mb-3">
            <nb-card class="p-2">
              <span class="property-label">Gerente(s)</span>
              <span class="property-value">{{ selectedItemDetails.responsavel | ngxCapitalize }}</span>
            </nb-card>
          </div>
        </ng-container>

        <div class="d-flex flex-row mb-3">
          <div class="property col-4 pe-1">
            <nb-card class="p-2 h-100">
              <span class="property-label">{{ 'Área Temática' + (selectedItemDetails.transversal ? ' Principal' : '') }}</span>
              <span class="property-value">{{ selectedItemDetails.nomeArea | ngxCapitalize }}</span>
            </nb-card>
          </div>

          <!-- Só aparece pra Programas -->
          <ng-container *ngIf="selectedItemDetails.qtdeProjetos">
            <div class="property col-4 px-1">
              <nb-card class="p-2 h-100 card-number-box">
                <span class="property-label mb-1">Projetos</span>
                <span class="property-value number-box">{{ selectedItemDetails.qtdeProjetos }}</span>
              </nb-card>
            </div>
          </ng-container>

          <!-- Só aparece pra Projetos -->
          <ng-container *ngIf="selectedItemDetails.statusProjeto">
            <div class="property col-4 px-1">
              <nb-card class="p-2 h-100">
                <span class="property-label me-1">Programa(s)</span>
                <span class="property-value">{{ getProgramasFormatado(this.selectedItemDetails.programas) | ngxCapitalize }}</span>
              </nb-card>
            </div>
          </ng-container>

          <div class="property col-4 ps-1">
            <nb-card class="p-2 h-100 card-number-box">
              <span class="property-label mb-1">Entregas</span>
              <span class="property-value number-box">{{ selectedItemDetails.contagemPE }}</span>
            </nb-card>
          </div>
        </div>

        <div class="d-flex flex-row mb-3">
          <!-- Só aparece pra Projetos -->
          <ng-container *ngIf="selectedItemDetails.nomeOrgao">
            <div class="property col-4 pe-1">
              <nb-card class="p-2 h-100">
                <span class="property-label">Órgão</span>
                <span class="property-value">{{ selectedItemDetails.nomeOrgao | ngxCapitalize }}</span>
              </nb-card>
            </div>
          </ng-container>

          <div class="property" [ngClass]="selectedItemDetails.nomeOrgao ? 'col-4 px-1' : 'col-6 pe-1'">
            <nb-card class="p-2 h-100 card-number-box previsto">
              <span class="property-label mb-1">Previsto</span>
              <span class="property-value number-box">R$ {{ formatNumber(selectedItemDetails.custoPrevisto) }}</span>
            </nb-card>
          </div>

          <div class="property ps-1" [ngClass]="selectedItemDetails.nomeOrgao ? 'col-4' : 'col-6'">
            <nb-card class="p-2 h-100 card-number-box realizado">
              <span class="property-label mb-1">Realizado</span>
              <span class="property-value number-box">R$ {{ formatNumber(selectedItemDetails.custoRealizado) }}</span>
            </nb-card>
          </div>
        </div>

        <div class="d-flex flex-row mb-3">
          <!-- Só aparece pra Projetos -->
          <ng-container *ngIf="selectedItemDetails.statusProjeto">
            <div class="property" [ngClass]="selectedItemDetails.nomeOrgao ? 'col-12' : 'col-4 ps-1'">
              <nb-card class="p-2 h-100">
                <span class="property-label">Status</span>
                <span class="property-value">{{ selectedItemDetails.statusProjeto | ngxCapitalize }}</span>
              </nb-card>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </nb-card>
</div>
