<ngx-flip-table [cardTitle]="title" [showSearchField]="true" [tableOnFront]="true" [tableContent]="flipTableContent"
  [showMaximizeButton]="true" [loadingStatus]="requestStatus" (executeDownload)="handleTableDownload()"
  (executeSearch)="handleUserTableSearch($event)" [backCardHeight]="
    isChartMaximized('quantidade-maior-prevista') ? calcMaximizedHeight() : 400
  " (showMaximizeButtonClick)="
    onMaximizeButtonClick('quantidade-maior-prevista', $event)
  " card-front>
  <ngx-org-chart-horizontal [chart]="chartData"
    [height]="isChartMaximized('quantidade-maior-prevista') ? calcMaximizedHeight() : 400"
    [chartDataConfig]="chartDataConfig" [valueType]="'currency'" card-back>
  </ngx-org-chart-horizontal>
</ngx-flip-table>