<ngx-flip-table [showSearchField]="true" [cardTitle]="title" [tableContent]="tableContent"
    [loadingStatus]="requestStatus" (executeDownload)="handleTableDownload()" [backCardHeight]="400"
    (executeSearch)="handleSearch($event)" [showMaximizeButton]="true"
    (showMaximizeButtonClick)="onMaximizeButtonClick('planned-budgetary', $event)">

    <ngx-org-chart-horizontal [chart]="chartData"
        [height]="isChartMaximized('planned-budgetary') ? calcMaximizedHeight() : 500"
        [showMaximizeButton]="isChartMaximized('planned-budgetary')" [chartDataConfig]="chartDataConfig" card-front>
    </ngx-org-chart-horizontal>
</ngx-flip-table>