<ngx-flip-table [showSearchField]="false" [cardTitle]="title" [tableContent]="tableContent"
    [loadingStatus]="requestStatus" (executeDownload)="handleTableDownload()" [backCardHeight]="400"
    [showMaximizeButton]="true" (showMaximizeButtonClick)="onMaximizeButtonClick('comparative', $event)">

    <ngx-org-chart-horizontal [chart]="chartData"
        [height]="isChartMaximized('comparative') ? calcMaximizedHeight() : 500"
        [showMaximizeButton]="isChartMaximized('comparative')" [chartDataConfig]="chartDataConfig" card-front>
    </ngx-org-chart-horizontal>
</ngx-flip-table>