<nb-card>
  <nb-card-body>
    <p>
      <nb-icon icon="arrow-back-outline" class="mr-1" *ngIf="parent.filtro.idSecretaria != -1" (click)="applyFilter(-1)" ></nb-icon>
      Valores por secretarias</p>
    <div class="p-0 m-0" *ngIf="data && data.length > 0; else noDataWarning">
      <ngx-chart-with-value-row2 
        *ngFor="let item of data"
        label={{item.label}} 
        value={{item.value}} 
        max-value={{maxValue}} 
        value-label="{{item.value | shortNumber}}" 
        full-value-label="{{item.value | customCurrency}}" 
        color="rgba(110, 116, 132, 0.7)" (click)="applyFilter(item.id)" ></ngx-chart-with-value-row2>
      </div>
      <ng-template #noDataWarning>{{noDataMessage}}</ng-template>
  </nb-card-body>
</nb-card>
