@import '../../@theme/styles/themes';

ngx-capitation {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}