  <ngx-flip-table
  [cardTitle]="title"
  [tableContent]="flipTableContent"
  [tableOnFront]="true"
  [backCardHeight]="400"
  [showMaximizeButton]="true"
  [loadingStatus]="requestStatus"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('quantidade-por-status', $event)" card-front
>
  <ngx-pie-chart-model
    [data]="chartData"
    [colors]="chartColors"
    [height]="isChartMaximized('quantidade-por-status') ? calcMaximizedHeight() : 400"
    card-back>
  </ngx-pie-chart-model>
</ngx-flip-table>

