<div class="row px-2">
  <div class="row g-1 g-md-1">
    <div
      class="chart-container px-1"
      [class.maximized]="isChartMaximized('quantidade-por-status')"
      [class.col-12]="!isChartMaximized('quantidade-por-status')"
      [class.col-md-12]="!isChartMaximized('quantidade-por-status')"
      [class.col-lg-6]="!isChartMaximized('quantidade-por-status')"
      [class.col-xl-6]="!isChartMaximized('quantidade-por-status')"
      [class.col-xxl-6]="!isChartMaximized('quantidade-por-status')"
      [class.col-xxxl-]="!isChartMaximized('quantidade-por-status')"
    >
      <ngx-quantidade-por-status
      class="w-100"
      [filter]="currentParams"
        (maximizeButtonClick)="
          handleMaximizeButtonClick('quantidade-por-status', $event)
        "
      ></ngx-quantidade-por-status>
    </div>
    <div
      class="chart-container px-1"
      [class.maximized]="isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-12]="!isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-md-12]="!isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-lg-6]="!isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-xl-6]="!isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-xxl-6]="!isChartMaximized('total-entregas-por-ano-e-status')"
      [class.col-xxxl-6]="!isChartMaximized('total-entregas-por-ano-e-status')"
    >
      <ngx-total-entregas-por-ano-e-status
        class="w-100"
        [filter]="currentParams"
        (maximizeButtonClick)="
          handleMaximizeButtonClick('total-entregas-por-ano-e-status', $event)
        "
      ></ngx-total-entregas-por-ano-e-status>
    </div>

    <div
      class="chart-container px-1"
      [class.maximized]="isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-12]="!isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-md-12]="!isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-lg-6]="!isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-xl-6]="!isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-xxl-6]="!isChartMaximized('total-entregas-fonte-recurso')"
      [class.col-xxxl-6]="!isChartMaximized('total-entregas-fonte-recurso')"
    >
      <ngx-total-entregas-fonte-recurso
        class="w-100"
        [filter]="currentParams"
        (maximizeButtonClick)="
          handleMaximizeButtonClick('total-entregas-fonte-recurso', $event)
        "
      ></ngx-total-entregas-fonte-recurso>
    </div>
  </div>
</div>
