<ngx-flip-table [cardTitle]="title" [showSearchField]="true" [tableContent]="tableContent" [showMaximizeButton]="true"
  [loadingStatus]="loadingStatus" (executeDownload)="handleTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('receita-total', $event)">

  <ngx-org-chart-vertical [chart]="chartData" [height]="isChartMaximized('receita-total') ? calcMaximizedHeight() : 300"
    [isMaximized]="isChartMaximized('receita-total')" [barGap]="'150'" card-front>
  </ngx-org-chart-vertical>
</ngx-flip-table>