<ngx-flip-table
  [tableContent]="flipTableContent"
  [backCardHeight]="290"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
>
  <div class="d-flex p-0" custom-header>
    <span class="text-card mr-2">Entregas por</span>
    <nb-select class="delivery-select" size="tiny" shape="semi-round" [(selected)]="deliveriesSelectedOption" (selectedChange)="loadData()">
      <nb-option value="Área Temática">Área Temática</nb-option>
      <nb-option value="Programa">Programa</nb-option>
      <nb-option value="Programas Transversais">Programas Transversais</nb-option>
      <nb-option value="Projeto">Projeto</nb-option>
    </nb-select>
  </div>

  <ngx-horizontal-bar-chart-model [data]="chartData" [colors]="chartColors" [height]="290" card-front>
  </ngx-horizontal-bar-chart-model>
</ngx-flip-table>