@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

::ng-deep nb-layout-column > [class] {
  height: 100%;
}

::ng-deep nb-layout-footer {
  box-shadow: none !important;
}

::ng-deep nb-layout-footer nav {
  background-color: transparent !important;
  padding: 0 !important;
}

@media screen and (max-width: 576px) {
  nb-layout-column {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
  }
}