<ngx-flip-table [showSearchField]="true"
  [cardTitle]="title"
  [loadingStatus]="requestStatus"
  [tableContent]="tableContent"
  (executeDownload)="handleTableDownload()"
  [backCardHeight]="500"
  (executeSearch)="handleTableSearch($event)"
  [showMaximizeButton]="true"
  [showSearchField]="true"
  (showMaximizeButtonClick)="onMaximizeButtonClick('dashboard-uo',$event)">
  <ngx-org-chart-horizontal
    [chart]="chartData"
    [height]="isChartMaximized('dashboard-uo') ? maximizedHeight : 500"
    [ChartDataConfig]="chartDataConfig"
    card-front>
  </ngx-org-chart-horizontal>
</ngx-flip-table>
