.text-card {
  color: var(--card-text-color);
  font-size: 0.9rem;
  font-weight: var(--layout-text-font-weight);
}

.investment-select {
  min-width: 200px;
}

.offcanvas-trigger {
  display: none;
  width: 0px;
  height: 0px;
}