<div class="container">
  <nb-card>
    <nb-card-body>
      <div class="row g-3">
        <div *ngFor="let card of cards" class="col-12 col-sm-6 col-lg-3">
          <ngx-cards-component
            [value]="card.value"
            [description]="card.description"
            [cor]="card.cor"
            [icone]="card.icone"
            class="w-100"
          >
          </ngx-cards-component>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="chart-container row g-3">
    <div class="chart-receita-prevista col-12 col-xl-4">
      <h3>Receita Prevista x Realizada</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-vertical
            [chart]="dadosChart.receitaTotal"
          ></ngx-org-chart-vertical>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="chart-receita-categoria col-12 col-xl-4">
      <h3>Receita Por Categoria</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal [chart]="dadosChart.receitaCategoria">
          </ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="chart-principais-origens col-12 col-xl-4">
      <h3>Receita Por Origem</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal
            [chart]="dadosChart.receitaOrigem"
          ></ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="chart-principais-origens col-12 col-xl-4">
      <h4>Imposto, Taxas e Contribuições de Melhoria</h4>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal
            [chart]="dadosChart.receitaImpostos"
          ></ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card>
    </div>

        <div class="chart-principais-origens col-12 col-xl-4">
      <h4>Imposto, Taxas e Contribuições de Melhoria</h4>
      <nb-card>
        <nb-card-body>
            <ngx-org-chart-pie
                  [data]="dadosChart.receitaICMS"
                  [height]="400"
            >
            </ngx-org-chart-pie>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
