// ============================================
// LAYOUT PRINCIPAL
// ============================================
.container {
  padding: 0;

  display: grid;
  grid-template-columns: 100%;
  gap: 2px;
  // padding: 1rem;
}

.execucao-orcamentaria-logo {
  min-height: 100px;
  padding: 1rem;
}

.logo-card {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  max-height: 100%;
  padding: 0.5rem;
}

.img-fluid {
  width: 95%;
  max-height: 56px;
}

.execucao-orcamentaria-content {
  display: flex;
  align-items: center;
  height: 65px;
  max-width: 80%;
}

::ng-deep {
  .cdk-overlay-container {
    z-index: 1060;
  }
}

// ============================================
// FILTROS - Card Único
// ============================================
button:focus,
select:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

.filter-container {
  position: relative;
  width: 100%;
  margin-top: -15px;

  .filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .filter-tags {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      gap: 8px;
      padding: 6px 0;
      scrollbar-width: thin;
      scrollbar-color: #005c99 transparent;

      .filter-tag {
        background-color: var(--card-background-color);
        border: 1px solid #CED4DA;
        color: var(--card-text-color);
        padding: 4px 12px;
        border-radius: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 10px;
        white-space: nowrap;

        @media screen and (max-width: 576px) {
          padding: 2px 12px;
          font-size: 9px;
        }

        .tag-label {
          font-weight: normal;
        }

        .tag-value {
          margin-top: -6px;
        }

        button {
          background: none;
          border: none;
          font-weight: bold;
          margin-left: 4px;
          font-size: 17px;
          cursor: pointer;
          color: #005C99;

          transition: color .35s ease;

          &:hover {
            color: #DC3545;
          }
        }
      }
    }

    .map-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      @media (max-width: 767px) {
        display: none !important;
      }

      .map-icon {
        width: 24px;
        height: 50px;
        vertical-align: middle;
      }

      &:hover {
        .map-icon {
          filter: brightness(0) saturate(100%) invert(26%) sepia(89%) saturate(2000%) hue-rotate(340deg) brightness(90%) contrast(110%);
        }
      }

      &.map-btn-clicked {
        filter: brightness(0) saturate(100%) invert(26%) sepia(89%) saturate(2000%) hue-rotate(340deg) brightness(90%) contrast(110%);
      }
    }

    .filter-toggle {
      color: var(--card-text-color);
      min-width: 90px;
      border: none;
      background-color: transparent;
      padding-bottom: 10px;
      padding-top: 10px;
      cursor: pointer;
      z-index: 1;
      border-radius: 4px;
    }
  }

  .modal {
    .modal-dialog {
      max-width: 70vw;
      justify-self: center;

      .modal-content {
        width: 70vw;
        background-color: var(--card-background-color);
        color: var(--card-text-color);

        .modal-body {
          .close-filter-button {
            color: var(--card-text-color);
          }

          .filter-row {
            margin-bottom: .75em;

            .filter-entity {
              padding-left: 0.5rem;
              padding-right: 0.5rem;

              span {
                font-size: 12px;
              }

              nb-select,
              input {
                width: 100%;
                max-width: 100%;
                height: 2.5em;
                font-size: 12px;
              }
            }
          }
        }

        .modal-footer {
          border: none;
        }
      }
    }
  }
}


// Aplica esses estilos sob o tema "default"
:host-context(.nb-theme-default) {
  .icon-top-right {
    color: #005C99 !important;

    &.previsto {
      color: #487D7A !important
    }

    ;

    &.realizado {
      color: #00B26A !important
    }

    ;
  }

  .text-section {
    color: #005C99 !important;

    &.previsto {
      color: #487D7A !important
    }

    ;

    &.realizado {
      color: #00B26A !important
    }

    ;
  }
}

// Aplica esses estilos sob o tema "dark" e "cosmic"
:host-context(.nb-theme-dark, .nb-theme-cosmic) {

  .icon-top-right,
  .text-section {
    color: #FFFFFF !important;
  }
}


@media (min-width: 1440px) {
  .container {
    max-width: 1800px;
  }
}

//   .cards-container {
//     grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
//   }
// }