<div class="container">
  <!-- <ngx-app-filter
    [filterConfigs]="filterConfigs"
    [activeFilters]="activeFilters"
    [showMapButton]="false"
    [isMapOpen]="isMapOpen"
    (filterChange)="onFilterChange($event)"
    (filterRemove)="onFilterRemove($event)"
    (filterReset)="onFilterReset()"
    (mapToggle)="onMapToggle($event)"
  ></ngx-app-filter> -->
  <nb-card>
    <nb-card-body>
      <div class="row g-3">
        <div *ngFor="let card of cards" class="col-12 col-sm-6 col-lg-3">
          <ngx-cards-component
            [value]="card.value"
            [description]="card.description"
            [cor]="card.cor"
            [icone]="card.icone"
            class="w-100"
          >
          </ngx-cards-component>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="chart-container row g-3">
    <div class="chart-receita-prevista col-12 col-xl-4">
        <ngx-receita-total [filter]="currentRequestParams"></ngx-receita-total>
      <!-- <h3>Receita Prevista x Realizada</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-vertical
            [chart]="dadosChart.receitaTotal"
          ></ngx-org-chart-vertical>
        </nb-card-body>
      </nb-card> -->
    </div>

    <div class="chart-receita-categoria col-12 col-xl-4">
      <!-- <h3>Receita Por Categoria</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal [chart]="dadosChart.receitaCategoria">
          </ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card> -->
    </div>

    <div class="chart-principais-origens col-12 col-xl-4">
      <!-- <h3>Receita Por Origem</h3>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal
            [chart]="dadosChart.receitaOrigem"
          ></ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card> -->
    </div>

    <div class="chart-receita-impostos col-12 col-xl-4">
      <!-- <h4>Imposto, Taxas e Contribuições de Melhoria</h4>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal
            [chart]="dadosChart.receitaImpostos"
          ></ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card> -->
    </div>

    <div class="chart-receita-icms-participacao col-12 col-xl-4">
      <!-- <h4>Participação ICMS - Receita Total</h4>
      <nb-card>
        <nb-card-body>
          <ngx-pie-chart
            [data]="dadosChart.receitaParticipacao"
            [height]="400"
            [colors]="['#F58B9B', '#4DB6D2']"
            [config]="chartConfig"
          >
          </ngx-pie-chart>
        </nb-card-body>
      </nb-card> -->
    </div>

    <div class="chart-receita-icms col-12 col-xl-4">
      <!-- <h4>ICMS</h4>
      <nb-card>
        <nb-card-body>
          <ngx-pie-chart
            [data]="dadosChart.receitaICMS"
            [height]="400"
            [colors]="colors"
            [config]="chartConfig"
          >
          </ngx-pie-chart>
        </nb-card-body>
      </nb-card> -->
    </div>

    <!-- <div class="chart-receita-impostos col-12 col-xl-4">
      <h4>Transfêrencias Correntes</h4>
      <nb-card>
        <nb-card-body>
          <ngx-org-chart-horizontal
            [chart]="dadosChart.receitaTransferenciaCorrente"
          ></ngx-org-chart-horizontal>
        </nb-card-body>
      </nb-card>
    </div> -->
  </div>

  <div class="d-flex flex-wrap col-12 col-xxl-6 p-0">
    <div class="col-12 col-md-6 px-x1 mb-1 align-self-start"></div>
  </div>
</div>

<!-- <div class="painel-container">

  <!-- <div class="row mb-4">
    <div class="col-12">
      <ngx-app-filter
        [filterConfigs]="filterConfigs"
        [activeFilters]="activeFilters"
        (filterChange)="onFilterChange($event)"
        (filterRemove)="onFilterRemove($event)"
        (filterReset)="onFilterReset()">
      </ngx-app-filter>
    </div>
  </div> -->
