:root {
    --totalizador-programas: #4A7BB0;

    --totalizador-projetos: #CD687B;

    --contagem-entregas: #C68B45;

    --monitoramento-planejado: #5F9E7D;

    --monitoramento-realizado: #827397;

    --filtro-temporal-critico: #439A9A;
}
