nb-card {
  margin-bottom: 0;
}

.card-dinamico {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  margin: 0;
  width: 40%;
  height: 100%;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.card-dinamico-body {
  height: 100%;
  padding: 0.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.card-value {
  font-weight: bold;
  font-size: 15px; // Tamanho fixo em todas as resoluções
  line-height: 1.2;
  margin: 0;
}

.card-description {
  font-size: 0.8rem; // Tamanho fixo em todas as resoluções
  line-height: 1.3;
  color: #8f9bb3;
  margin: 0;
}

// Cores dinâmicas
.card-primary {
  background-color: var(--receita-prevista);
}

.card-success {
  background-color: var(--receita-realizada);
}

.card-warning {
  background-color: var(--receita-realizada-prevista);
}

.card-info {
  background-color: var(--despesa-empenhada-autorizada);
}

.card-danger {
  background-color: var(--despesa-liquida-autorizada);
}

.card-value,
.card-description {
  color: whitesmoke;
}
