:host {
  display: block;
  min-height: 100vh;
}

// @media screen and (min-width: 992px) {
//   :host {
//     margin-top: -15px;
//   }
// }

// @media screen and (max-width: 991px) {
//   :host {
//     margin-top: -4px;
//   }
// }

::ng-deep {
  .cdk-overlay-container {
    z-index: 1060;
  }
}

::ng-deep {
  nb-option {
    display: flex !important;
    align-items: center;

    &.uo-selected {
      font-size: 12px;

      nb-icon {
        color: #005c99;
        font-size: 1.2rem;
      }
    }
  }
}

.portfolio-logo {
  max-width: 100%;
  max-height: 45px;
}

.card {
  background-color: var(--card-background-color);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;

  .card-content {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 100%;
    min-height: 75px;
  }

  .portfolio-content {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-content {
    display: flex;
    align-items: center;
    justify-content: start !important;
    height: 65px !important;
    min-height: 62px !important;
    max-width: 100% !important;
  }

  .img-fluid {
    width: auto !important;
    max-width: 90% !important;
    max-height: 55px !important;
    object-fit: contain;
  }
}
