<ngx-flip-table
  [cardTitle]="title"
  [tableContent]="tableContent"
  [showSearchField]="true"
  (executeDownload)="handleTableDownload()"
  [loadingStatus]="requestStatus"
  [showMaximizeButton]="true"
  [backCardHeight]="308"
  (showMaximizeButtonClick)="onMaximizeButtonClick('receita-despesa-gnd', $event)">
  <ngx-org-chart-vertical [chart]="chartData"
    [height]="isChartMaximized('receita-despesa-gnd') ? calcMaximizedHeight() : 300" [charactersPerLine]="15"
    [chartDataConfig]="chartDataConfig"
    card-front></ngx-org-chart-vertical>
</ngx-flip-table>
