<ngx-flip-table
  [cardTitle]="title"
  [tableContent]="tableContent"
  [showSearchField]="true"
  (executeDownload)="handleTableDownload()"
  [loadingStatus]="requestStatus"
  [subCardTitle]=""
  [showMaximizeButton]="true"
  [backCardHeight]="308"
  (showMaximizeButtonClick)="
    onMaximizeButtonClick('receita-despesa-gnd', $event)
  "
>
  <div
    class="toggles-container small-toggle"
    [attr.card-toggles]="true"
    card-toggles #cardToggles
  >
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        [(ngModel)]="toggleExecutivo"
        (ngModelChange)="onToggleChange('executivo')"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">
        Executivo
      </label>
    </div>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        [(ngModel)]="toggleDemaisPoderes"
        (ngModelChange)="onToggleChange('demaisPoderes')"
        [disabled]="!toggleExecutivo"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked">
        Demais Poderes
      </label>
    </div>
  </div>
  <ngx-org-chart-vertical
    [chart]="chartData"
    [height]="
      isChartMaximized('receita-despesa-gnd') ? calcMaximizedHeight() : 300
    "
    [charactersPerLine]="15"
    [chartDataConfig]="chartDataConfig"
    card-front
  ></ngx-org-chart-vertical>
</ngx-flip-table>
