@import '../../@theme/styles/themes';

.card-outer-format {
  padding: 0;

  @media screen and (min-width: 768px) {
    :nth-child(odd) {
      padding-right: 0.5rem;
    }
    :nth-child(even) {
      padding-left: 0.5rem;
    }
  }
  
  nb-card {
    cursor: pointer;

    .icon-box {
      position: relative;

      .icon-external {
        width: 16px;
        position: absolute;
      }
    }
  
    .header {
      border: none;
  
      .img-box {
        img {
          width: 70px;
        }
      }
    }
  
    .body {
      .title {
        font-size: 14px;
      }
      .subtitle {
        font-size: 12px;
      }
    }
  
    .footer {
      border: none;
  
      .italic {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}