@import '../../@theme/styles/themes';

nb-card {
  cursor: pointer;

  .icon-external {
    width: 16px;
  }

  .header {
    border: none;

    .img-box {
      img {
        width: 70px;
      }
    }
  }

  .body {
    .title {
      font-size: 14px;
    }
    .subtitle {
      font-size: 12px;
    }
  }

  .footer {
    border: none;

    .italic {
      font-size: 12px;
      font-style: italic;
    }
  }
}