<ngx-flip-table
  [cardTitle]="'Entregas por Tipo'"
  [tableContent]="flipTableContent"
  [loadingStatus]="requestStatus"
  [showMaximizeButton]="true"
  [backCardHeight]="isChartMaximized('deliveries-by-type') ? 700 : 150"
  (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('deliveries-by-type', $event)"
  >
  <ngx-pie-chart-model
    [data]="chartData"
    [colors]="chartColors"
    [height]="isChartMaximized('deliveries-by-type') ?   400 : 150"
    [fontSizeLegend]="isChartMaximized('deliveries-by-type') ? 20 : 9"
    [isMaximized]="isChartMaximized('deliveries-by-type')"
    card-front>
  </ngx-pie-chart-model>
</ngx-flip-table>
