<div class="col-12">
  <!-- col-1-5 -->
  <div class="row">
    <div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5 mb-3">
      <div class="card">
        <div class="icon-top-right">
          <i class="fas fa-cogs"></i>
        </div>
        <div class="card-content">
          <div class="number-box">11</div>
          <div class="text-section">
            <span>Programas</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5 mb-3">
      <div class="card">
        <div class="icon-top-right">
          <i class="fas fa-cog"></i>
        </div>
        <div class="card-content">
          <div class="number-box">345</div>
          <div class="text-section">
            <span>Projetos</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5 mb-3">
      <div class="card">
        <div class="icon-top-right">
          <i class="fas fa-cubes"></i>
        </div>
        <div class="card-content">
          <div class="number-box">3.043</div>
          <div class="text-section">
            <span>Entregas</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5 mb-3">
      <div class="card">
        <div class="icon-top-right previsto">
          <i class="fas fa-calculator"></i>
        </div>
        <div class="card-content">
          <div class="number-box previsto">
            <div
              class="d-flex"
              style="flex-direction: column; align-items: start"
            >
              <div class="currency">R$</div>
              <div class="value">40.6 Bi</div>
            </div>
          </div>
          <div class="text-section previsto">
            <span>Previsto</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5 mb-3">
      <div class="card">
        <div class="icon-top-right realizado">
          <i class="fas fa-database"></i>
        </div>
        <div class="card-content">
          <div class="number-box realizado">
            <div
              class="d-flex"
              style="flex-direction: column; align-items: start"
            >
              <div class="currency">R$</div>
              <div class="value">23.2 Bi</div>
            </div>
          </div>
          <div class="text-section realizado">
            <span>Realizado</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- col-2-5 -->
  <div class="row">
    <div class="col-xs-2-5 col-sm-2-5 col-md-2-5 col-lg-2-5">
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Entregas por Status</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-deliveries-by-status></ngx-deliveries-by-status>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Entregas por Desempenho</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-deliveries-by-performace></ngx-deliveries-by-performace>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Projetos por Status</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-projects-by-status></ngx-projects-by-status>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Marcos Críticos por Desempenho</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-critical-milestones-for-performance></ngx-critical-milestones-for-performance>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Entregas por Tipo</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-deliveries-by-type></ngx-deliveries-by-type>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card">Riscos por Classificação</span>
          </div>
            <div class="d-flex mb-3 mt-3">
              <div class="col-xs-100">
                  <ngx-risks-by-classification></ngx-risks-by-classification>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3-5 col-sm-3-5 col-md-3-5 col-lg-3-5">
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card mr-2">Investimento por</span>
            <select class="text-card">
              <option>Projeto</option>
              <option>Programa</option>
              <option>Programas Transversais</option>
              <option>Entrega </option>
              <option>Área Temática</option>
            </select>
          </div>
          <div class="chart-container chart-container-large mt-2">
            <div echarts [options]="chartOptions" class="echart"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-1-2 col-sm-1-2 col-md-1-2 col-lg-1-2 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card mr-2">Entregas por</span>
            <select class="text-card">
              <option>Área Temática</option>
              <option>Projeto</option>
              <option>Programa</option>
              <option>Programas Transversais</option>
            </select>
          </div>
          <div class="chart-container chart-container-large mt-2">
            <div echarts [options]="chartOptions2" class="echart"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-100 mb-3">
        <div class="card">
          <div class="d-flex col-xs-100 mt-1">
            <span class="text-card mr-2">Investimento Acumulado

            </span>
          </div>
          <div class="chart-container chart-container-large mt-2">
            <div echarts [options]="chartOptions3" class="echart"></div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 p-rl">
        <div class="card">
          <h3>Investimento Acumulado</h3>
          <div class="chart-container chart-container-large">
            [Gráfico Placeholder]
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
