<div class="col-12">
  <div class="filter-container">
    <div class="filter-button">
      <div class="filter-tags">
        <div *ngFor="let tag of activeFilters; let i = index">
          <div class="filter-tag" [ngClass]="{ 'invisible-tag': showFilters }">
            <div>
              <div class="tag-label">
                {{ tag.label }}:
              </div>
              <div class="tag-value">
                {{ tag.value }}
              </div>
            </div>
            <button
              *ngIf="tag.key !== 'portfolio' && tag.key !== 'dataInicio' && tag.key !== 'dataFim'"
              class="remove-button"
              (click)="removeFilter(tag.key)"
            >
              x
            </button>
          </div>
        </div>
      </div>

      <div class="filter-button">
        <button (click)="openAndCloseMap()" class="map-btn" [ngClass]="{'map-btn-clicked': isMapOpen}">
          <img src="/assets/images/app/es-logo.svg" alt="Mapa do Espírito Santo" class="map-icon">
        </button>
      
        <button (click)="toggleFiltroPanel()" class="filter-toggle p-0">
          Filtros
          <nb-icon [icon]="'funnel-outline'"></nb-icon>
        </button>
      </div>
    </div>

    <!-- Painel de Filtros -->
    <div *ngIf="showFilters" class="overlay-panel py-2 px-4 box-limited">
      <form class="w-100">
        <div class="form-header w-100 d-flex justify-content-end">
          <button class="btn p-0 close-filter-button" (click)="toggleFiltroPanel()">
            <nb-icon [icon]="'close-outline'"></nb-icon>
          </button>
        </div>

        <div class="d-flex flex-column w-100">
          <div class="filter-row d-flex flex-column flex-md-row w-100">
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Portfólio</span>
              <nb-select
                name="portfolio"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.portfolio"
                (selectedChange)="handleFilterChange('Portfolio', $event)"
              >
                <nb-option value="Realiza+">Realiza+</nb-option>
              </nb-select>
            </div>

            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">De</span>
              <input
                nbInput
                name="dataInicial"
                placeholder="Data Inicial"
                size="tiny"
                [nbDatepicker]="initialDatePicker"
                [(ngModel)]="filter.dataInicio"
              />
              <nb-datepicker size="tiny" #initialDatePicker></nb-datepicker>
            </div>
    
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Até</span>
              <input
                nbInput
                name="dataFim"
                placeholder="Data Final"
                size="tiny"
                [nbDatepicker]="endDatePicker"
                [(ngModel)]="filter.dataFim"
              />
              <nb-datepicker #endDatePicker>
              </nb-datepicker>
            </div>
    
            <div class="filter-entity d-flex flex-column col-12 col-md-3 invisible-tag">
              <span class="mb-1">Previsão de Conclusão</span>
              <input
                nbInput
                name="previsaoConclusao"
                placeholder="Previs. Conclusão"
                size="tiny"
                [nbDatepicker]="conclusaoDatePicker"
                [(ngModel)]="filter.previsaoConclusao"
              />
              <nb-datepicker #conclusaoDatePicker>
              </nb-datepicker>
            </div>
          </div>

          <div class="filter-row d-flex flex-column flex-md-row w-100">
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Áreas Temáticas</span>
              <nb-select
                multiple
                name="areaTematica"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.areaTematica"
                (selectedChange)="handleFilterChange('Areas_Tematicas', $event)"
              >
                <nb-option *ngFor="let area of areaList" [value]="area.id">
                  {{ area.name }}
                </nb-option>
              </nb-select>
            </div>
    
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Programas Originais</span>
              <nb-select
                multiple
                name="programaOrigem"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.programaOrigem"
                (selectedChange)="handleFilterChange('Programas_Originais', $event)"
              >
                <nb-option *ngFor="let programa of programaOList" [value]="programa.id">
                  {{ programa.name }}
                </nb-option>
              </nb-select>
            </div>

            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Projetos</span>
              <nb-select
                multiple
                name="projetos"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.projetos"
                (selectedChange)="handleFilterChange('Projetos', $event)"
              >
                <nb-option *ngFor="let projeto of projetoList" [value]="projeto.id">
                  {{ projeto.name }}
                </nb-option>
              </nb-select>
            </div>
          
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Entregas</span>
              <nb-select
                multiple
                name="entregas"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.entregas"
                (selectedChange)="handleFilterChange('Entregas', $event)"
              >
                <nb-option *ngFor="let entrega of entregaList" [value]="entrega.id">
                  {{ entrega.name }}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="filter-row d-flex flex-column flex-md-row w-100">
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Programas Transversais</span>
              <nb-select
                multiple
                name="programaTransversal"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.programaTransversal"
                (selectedChange)="handleFilterChange('Programas_Transversais', $event)"
              >
                <nb-option *ngFor="let programa of programaTList" [value]="programa.id">
                  {{ programa.name }}
                </nb-option>
              </nb-select>
            </div>

            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Localidades</span>
              <nb-select
                multiple
                name="localidades"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.localidades"
              >
                <nb-option *ngFor="let localidade of localidadeList" [value]="localidade.id">
                  {{ localidade.name }}
                </nb-option>
              </nb-select>
            </div>
          
            <div class="filter-entity d-flex flex-column col-12 col-md-3">
              <span class="mb-1">Órgãos</span>
              <nb-select
                multiple
                name="orgaos"
                placeholder="Selecionar"
                size="tiny"
                [(ngModel)]="filter.orgaos"
              >
                <nb-option *ngFor="let orgao of orgaoList" [value]="orgao.id">
                  {{ orgao.name }}
                </nb-option>
              </nb-select>
            </div>
    
            <div class="filter-entity d-flex flex-column col-12 col-md-3 invisible-tag">
              <span class="mb-1">Acompanhado Por</span>
              <nb-select
                multiple
                name="acompanhamentos"
                placeholder="Selecione"
                size="tiny"
                [(ngModel)]="filter.acompanhamentos"
              >
                <nb-option>Nenhuma</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <!-- Botão de Ações -->
        <div class="d-flex justify-content-end">
          <button class="mx-4" nbButton size="small" status="warning" outline shape="semi-round" (click)="resetFilters()">Restaurar Filtros</button>
          <button nbButton size="small" status="success" hero shape="semi-round" (click)="filtrar($event)">Filtrar</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 pr-0 pl-0 mt-1 d-flex flex-wrap">
      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right">
            <i class="fas fa-briefcase"></i>
          </div>
          <div class="card-content">
            <div class="portfolio-content">
               <img class="portfolio-logo w-100" [src]="portfolioLogoUrl">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="card-content">
            <div class="number-box">{{totals.qdeProgramas}}</div>

            <div class="text-section">
              <span>{{totals.qdeProgramas === 1 ? 'Programa' : 'Programas'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right">
            <i class="fas fa-cog"></i>
          </div>
          <div class="card-content">
            <div class="number-box">{{totals.qdeProjetos}}</div>

            <div class="text-section">
              <span>{{totals.qdeProjetos === 1 ? 'Projeto' : 'Projetos'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right">
            <i class="fas fa-cubes"></i>
          </div>
          <div class="card-content">
            <div class="number-box">{{totals.totalEntregasPE}}</div>

            <div class="text-section">
              <span>{{totals.totalEntregasPE === 1 ? 'Entrega' : 'Entregas'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right previsto">
            <i class="fas fa-calculator"></i>
          </div>
          <div class="card-content">
            <div class="number-box previsto">
              <div
                class="d-flex"
                style="flex-direction: column; align-items: start"
              >
                <div class="currency">R$</div>
                <div class="value" [title]="'R$ ' + (totals.totalPrevisto | number:'1.2-2')">{{formatNumber(totals.totalPrevisto)}}</div>
              </div>
            </div>
            <div class="text-section previsto">
              <span>Previsto</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-md-4 col-sm-6 mb-2 pr-1 pl-1">
        <div class="card">
          <div class="icon-top-right realizado">
            <i class="fas fa-database"></i>
          </div>
          <div class="card-content">
            <div class="number-box realizado">
              <div
                class="d-flex"
                style="flex-direction: column; align-items: start"
              >
                <div class="currency">R$</div>
                <div class="value" [title]="'R$ ' + (totals.totalRealizado| number:'1.0-2')">{{formatNumber(totals.totalRealizado)}}</div>
              </div>
            </div>
            <div class="text-section realizado">
              <span>Realizado</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="map col-xxxl-6 col-xxl-12 pr-0 pl-0 d-flex flex-wrap" *ngIf="isMapOpen">
      <div class="col-xxxl-12 col-xxl-12 col-md-12 pr-1 pl-1 mb-2">
        <div class="card">
          <ngx-map-es [filter]="finalFilter" [localidadeList]="localidadeList" (filterChange)="onMapFilterChange($event)"></ngx-map-es>
        </div>
      </div>
    </div>

    <div class="col-xxxl-6 col-xxl-12 pr-0 pl-0 d-flex flex-wrap">
      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-deliveries-by-status [filter]="finalFilter"></ngx-deliveries-by-status>
      </div>

      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-deliveries-by-performace [filter]="finalFilter"></ngx-deliveries-by-performace>
      </div>

      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-projects-by-status [filter]="finalFilter"></ngx-projects-by-status>
      </div>

      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-critical-milestones-for-performance [filter]="finalFilter"></ngx-critical-milestones-for-performance>
      </div>

      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-deliveries-by-type [filter]="finalFilter"></ngx-deliveries-by-type>
      </div>

      <div class="col-xxxl-6 col-xxl-4 col-md-6 pr-1 pl-1 mb-2">
        <ngx-risks-by-classification [filter]="finalFilter"></ngx-risks-by-classification>
      </div>
    </div>
     
    <div [ngClass]="{'col-xxxl-12': isMapOpen, 'col-xxxl-6': !isMapOpen}" class="col-md-12 pr-0 pl-0 d-flex flex-wrap">
      <div [ngClass]="{'col-xxxl-6': isMapOpen, 'col-xxxl-12': !isMapOpen}" class="col-xxl-6 col-12 pr-1 pl-1 mb-2 ">
        <ngx-investment-by-selected [filter]="finalFilter"></ngx-investment-by-selected>
      </div>

      <div [ngClass]="{'col-xxxl-6': isMapOpen, 'col-xxxl-12': !isMapOpen}" class="col-xxl-6 col-12 pr-1 pl-1 mb-2">
        <ngx-deliveries-by-selected [filter]="finalFilter"></ngx-deliveries-by-selected>
      </div>
    </div>

    <div class="col-12 pr-1 pl-1 mb-2">
      <ngx-accumulated-investment [filter]="finalFilter"></ngx-accumulated-investment>
    </div>
  </div>
</div>

<nb-layout-footer class="mt-2">
  <ngx-footer [timestamp]="timestamp"></ngx-footer>
</nb-layout-footer>
