<ngx-flip-table [cardTitle]="'Entregas por Desempenho'" [tableContent]="flipTableContent"
  [loadingStatus]="requestStatus" (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('deliveries-by-performace', $event)">
  <ngx-pie-chart-model [data]="chartData" [colors]="chartColors"
    [height]="isChartMaximized('deliveries-by-performance') ? calcMaximizedHeight() : 150" card-front>
  </ngx-pie-chart-model>
</ngx-flip-table>