@import '../../../@theme/styles/themes';

ngx-chart-with-value  {
    display: block;
    max-height: 15rem;
    overflow-y: auto;
}

ip-chart-with-value-row {
    display:block; 
    padding-top:0.2rem; 
    padding-bottom: 0.2rem; 
    border-bottom: lightgray 0.1rem solid
}