<ngx-flip-table
  [showSearchField]="true"
  [cardTitle]="title"
  [loadingStatus]="requestStatus"
  [tableContent]="tableContent"
  (executeDownload)="handleTableDownload()"
  [backCardHeight]="500"
  [showMaximizeButton]="true"
  (showMaximizeButtonClick)="onMaximizeButtonClick('progress-bar-uo',$event)">
  <ngx-chart-progress-bar [chart]="chartData" [chartDataConfig]="chartDataConfig"
    [height]="isChartMaximized('progress-bar-uo') ? calcMaximizedHeight() : 500" card-front>
  </ngx-chart-progress-bar>
</ngx-flip-table>
