<ngx-flip-table [cardTitle]="title" [tableContent]="flipTableContent" [tableOnFront]="true" [showSearchField]="true"
  [backCardHeight]="isChartMaximized('total-entregas-por-orgao') ? calcMaximizedHeight() :400"
  [showMaximizeButton]="true" [loadingStatus]="requestStatus" (executeSearch)="handleUserTableSearch($event)"
  (executeDownload)="handleUserTableDownload()"
  (showMaximizeButtonClick)="onMaximizeButtonClick('total-entregas-por-orgao', $event)" card-front>
  <ngx-org-chart-horizontal 
  [chart]="chartData" 
  [chartDataConfig]="chartDataConfig" 
  [showMaximizeButton]="true"
  [valueType]="'currency'"
  [height]="isChartMaximized('total-entregas-por-orgao') ? calcMaximizedHeight() : 400"
  [showMaximizeButton]="isChartMaximized('total-entregas-por-orgao')" card-back>
  </ngx-org-chart-horizontal>
</ngx-flip-table>