button:focus,
select:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

.filter-wrapper {
  position: sticky;
  top: 84px;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  padding: 6px 6px;
  transition: top 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    top: 154px; // Altura do header + tags no mobile
  }
}

.filter-button-box {
  flex-shrink: 0;
}

.filter-button.is-sticky {
  position: sticky;
  top: 131px;

  @media screen and (max-width: 768px) {
    top: 190px;
  }
  width: fit-content;
  // margin: 0 auto;
  // padding: 6px 12px;
  border-radius: 2px;
  z-index: 1000;
  display: flex;
  // align-items: center;
  gap: 0.75rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background: rgba(227, 230, 240, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.filter-tag.is-sticky {
  display: inline-flex;
  flex-wrap: wrap;
  // align-items: center;
  gap: 12px;
  padding: 8px 5px;
  width: max-content;
  max-width: 100%;
  border-radius: 12px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  background: rgba(0, 0, 0, 0.85);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 8px 32px rgba(15, 23, 42, 0.05);
}


:host-context(.nb-theme-dark, .nb-theme-cosmic) {

  .filter-tag.is-sticky {
    background-color: rgba(21, 26, 48, 0.85) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 2px 3px 10px lightgray;
  }

  .filter-button-box.is-sticky .filter-toggle {
    background-color: rgba(21, 26, 48, 0.85);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 2px 3px 10px lightgray;
  }

  .filter-button.is-sticky {
    background: rgba(10, 15, 30, 0.85);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 2px 3px 10px lightgray;
  }
}

:host-context(.nb-theme-default) {

  .filter-tag.is-sticky {
    background-color: rgba(255, 255, 255, 0.877) !important;
    border: 1px solid rgb(163 160 160) !important;
    box-shadow: 2px 3px 10px rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px) !important;
  }

  .filter-button-box.is-sticky .filter-toggle {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 0, 0, 0.9);
  }


  .filter-button.is-sticky {
    background: rgba(255, 255, 255, 0.877);
    border: 1px solid rgb(173 165 165);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(50, 50, 50, 0.5);
  }
}

.execucao-orcamentaria-logo {
  min-height: 100px;
  padding: 1rem;
}

.logo-card {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  max-height: 100%;
  padding: 0.5rem;
}

.img-fluid {
  width: 100%;
  max-height: 56px;
}

.execucao-orcamentaria-content {
  display: flex;
  align-items: center;
  height: 65px;
  max-width: 80%;
}

.card-logo,
.card-info {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
}

::ng-deep {
  .cdk-overlay-container {
    z-index: 1060;
  }
}

.card {
  background-color: var(--card-background-color);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;
  line-height: 16px;

  .delivery-select {
    min-width: 200px;
  }

  .icon-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }

  .card-content {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 5px 0 5px 5px;
    height: 100%;

    .spinner-border {
      width: 3rem;
      height: 3rem;
      border-width: 0.35em;

      &.qt-programas,
      &.qt-projetos,
      &.total-prevista {
        color: var(--receita-prevista) !important;
      }

      &.total-realizada {
        color: var(--receita-realizada) !important;
      }

      &.total-realizada-prevista {
        color: var(--receita-realizada-prevista) !important;
      }

      &.total-empenhada-autorizada {
        color: var(--despesa-empenhada-autorizada) !important;
      }

      &.total-liquidada-autorizada {
        color: var(--despesa-liquida-autorizada) !important;
      }

      .sr-only,
      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    }

    .portfolio-content {
      display: flex;
      align-items: center;
      height: 65px;
      max-width: 100%;
      padding: 10px;
    }

    .number-box {
      background-color: #005c99;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 8px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      min-width: 80px;

      &.prevista {
        background-color: var(--receita-prevista) !important;
      }

      &.realizada {
        background-color: var(--receita-realizada) !important;
      }

      &.realizada-prevista {
        background-color: var(--receita-realizada-prevista) !important;
      }

      &.empenhada-autorizada {
        background-color: var(--despesa-empenhada-autorizada) !important;
      }

      &.liquidada-autorizada {
        background-color: var(--despesa-liquida-autorizada) !important;
      }

      .currency {
        font-size: 15px;
      }
    }

    .text-section {
      display: flex;
      align-items: end;
      font-size: 12px;
      font-weight: bold;
      width: 100%;
      text-align: start;
      height: 100%;
      line-height: 16px;
      padding-right: 33px;
    }
  }
}

nb-tooltip {
  pointer-events: none;
}

:host-context(.nb-theme-default, .nb-theme-dark, .nb-theme-cosmic) {
  .icon-top-right {
    color: #005c99 !important;

    &.prevista {
      color: var(--receita-prevista) !important;
    }

    &.realizada {
      color: var(--receita-realizada) !important;
    }

    &.realizada-prevista {
      color: var(--receita-realizada-prevista) !important;
    }

    &.empenhada-autorizada {
      color: var(--despesa-empenhada-autorizada) !important;
    }

    &.liquidada-autorizada {
      color: var(--despesa-liquida-autorizada) !important;
    }
  }

  .text-section {
    color: #005c99 !important;

    &.prevista {
      color: var(--receita-prevista) !important;
    }

    &.realizada {
      color: var(--receita-realizada) !important;
    }

    &.realizada-prevista {
      color: var(--receita-realizada-prevista) !important;
    }

    &.empenhada-autorizada {
      color: var(--despesa-empenhada-autorizada) !important;
    }

    &.liquidada-autorizada {
      color: var(--despesa-liquida-autorizada) !important;
    }
  }
}

.filter-container {
  display: contents;

  .filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0px !important;

    .filter-tags {
      display: flex;
      flex: 1;
      min-width: 0;
      overflow-x: auto;
      white-space: nowrap;
      gap: 8px;
      padding: 6px 0;
      scrollbar-width: thin;
      scrollbar-color: #005c99 transparent;

      .filter-tag {
        background-color: var(--card-background-color);
        // border: 1px solid #ced4da;
        color: var(--card-text-color);
        padding: 0px 10px;
        border-radius: 15px;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 9px;
        white-space: nowrap;

        @media screen and (max-width: 576px) {
          padding: 2px 12px;
          font-size: 9px;
        }

        .tag-label {
          font-weight: normal;
        }

        .tag-value {
          margin-top: -6px;
        }

        button {
          background: none;
          border: none;
          font-weight: bold;
          margin-left: 4px;
          font-size: 17px;
          cursor: pointer;
          color: #005c99;

          transition: color 0.35s ease;

          &:hover {
            color: #dc3545;
          }
        }
      }
    }

    .map-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      @media (max-width: 767px) {
        display: none !important;
      }

      .map-icon {
        width: 24px;
        height: 50px;
        vertical-align: middle;
      }

      &:hover {
        .map-icon {
          filter: brightness(0) saturate(100%) invert(26%) sepia(89%) saturate(2000%) hue-rotate(340deg) brightness(90%) contrast(110%);
        }
      }

      &.map-btn-clicked {
        filter: brightness(0) saturate(100%) invert(26%) sepia(89%) saturate(2000%) hue-rotate(340deg) brightness(90%) contrast(110%);
      }
    }

    .filter-toggle {
      color: var(--card-text-color);
      min-width: 90px;
      border: none;
      background-color: transparent;
      padding-bottom: 10px;
      padding-top: 8px;
      cursor: pointer;
      z-index: 1;
      border-radius: 4px;
    }
  }

  .modal {
    .modal-dialog {
      max-width: 70vw;
      justify-self: center;

      .modal-content {
        width: 70vw;
        background-color: var(--card-background-color);
        color: var(--card-text-color);

        .modal-body {
          .close-filter-button {
            color: var(--card-text-color);
          }

          .filter-row {
            margin-bottom: 0.75em;

            .filter-entity {
              padding-left: 0.5rem;
              padding-right: 0.5rem;

              span {
                font-size: 12px;
              }

              nb-select,
              input {
                width: 100%;
                max-width: 100%;
                height: 2.5em;
                font-size: 12px;
              }
            }
          }
        }

        .modal-footer {
          border: none;
        }
      }
    }
  }
}

:host-context(.nb-theme-default) {
  .icon-top-right {
    color: #005c99 !important;

    &.previsto {
      color: #487d7a !important;
    }

    &.realizado {
      color: #00b26a !important;
    }
  }

  .text-section {
    color: #005c99 !important;

    &.previsto {
      color: #487d7a !important;
    }

    &.realizado {
      color: #00b26a !important;
    }
  }
}

:host-context(.nb-theme-dark, .nb-theme-cosmic) {

  .icon-top-right,
  .text-section {
    color: #ffffff !important;
  }
}
